.dockerignore
docker-compose.*
/deploy/Dockerfile

/vendor/*
/bootstrap/cache/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

.gitattributes
.gitignore
/.editorcfg
/.env
/.env.example
/.github
/.styleci.yml
